<div class="container">
 <div class="row">
   <div class="col-12">
     <h3><%= @customer.last_name + "　"  + @customer.first_name %>さんの会員詳細</h3>
   </div>
  </div>


 <table class="row table">

  <tr>
   <th>会員ID</th>
   <td class="col-xs-10"><%= @customer.id %>
  </tr>

  <tr>
   <th>氏名</th>
   <td class="col-xs-10"><%= @customer.last_name %>
   <%= @customer.first_name %>
  </tr>

  <tr>
   <th>フリガナ</th>
   <td class="col-xs-10"><%= @customer.last_name_kana %>
   <%= @customer.first_name_kana %>
  </tr>

  <tr>
   <tr>
   <th>郵便番号</th>
   <td class="col-xs-10"><%= @customer.postal_code %>
  </tr>

  <tr>
   <th>住所</th>
   <td class="col-xs-10"><%= @customer.address %>
  </tr>

  <tr>
   <th>電話番号</th>
   <td class="col-xs-10"><%= @customer.telephone_number %>
  </tr>

  <tr>
   <th>メールアドレス</th>
   <td class="col-xs-10"><%= @customer.email %>
  </tr>

  <tr>
   <th>会員ステータス</th>
   <td class="col-xs-10">
   <% if @customer.is_deleted == false %>
      有効
   <% else %>
      無効
   <% end %>
  </tr>

</table>

  <div class="row">
    <div class="m-5">
    <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
    <%= link_to "注文履歴一覧を見る",admin_orders_show_path, class: "btn btn-success" %>
  </div>

 </div>
</div>