<div class="container">
 <div class="row">
  <div class="col-4">
      <h2>商品詳細</h2><br>
      <%= image_tag @item.image, size: "300x300" %>
  </div>

 <div class="col-4">
   <div class="mt-5">

    <table>
     <tbody>

       <tr>
        <td><h2><strong><%= @item.name %></strong></h2></td>
       </tr>

       <tr>
        <td><h3><%= @item.introduction %></h3></td>
       </tr>


       <tr>
        <td><h3>¥<%= (@item.price*1.1).floor %></h3></td>
        <td>(税込)</td>
       </tr>

     </tbody>
    </table>
</div>

数量を選択して下さい。</br>

<%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>

 <%= f.hidden_field :item_id, :value => @item.id %>
 <p><%= f.select :amount, [['1個', 1], ['2個', 2], ['3個', 3], ['4個', 4], ['5個', 5], ['6個', 6], ['7個', 7], ['8個', 8], ['9個', 9]] %></p>
 <p><%= f.submit "カートに入れる", class:"btn btn-primary" %></p>

<% end %>