<div class="container">
 <div class="row">
  <div class="col-4">
      <h2>商品詳細</h2><br>
      <%= image_tag @item.image, size: "300x300" %>
  </div>

 <div class="col-4">
   <div class="mt-5">
    
    <%= form_for(@cart_item , url: cart_items_path(item_id: @item), method: :post) do |form| %>
    
    <table>
     <tbody>

       <tr>
        <td><h2><strong><%= @item.name %></strong></h2></td>
       </tr>

       <tr>
        <td><h3><%= @item.introduction %></h3></td>
       </tr>
       

       <tr>
        <td><h3>¥<%= (@item.price*1.1).floor %></h3></td>
        <td>(税込)</td>
       </tr>

     </tbody>
    </table>
</div>

数量を選択して下さい。</br>

<p><%= format.select :amount, [['いち',1], ['に',2], ['さん',3]] %></p>
<p><%= form.submit "カートに入れる", class:"btn btn-primary" %></p>

<% end %>